<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Refugee Connect - Create Account</title>
        <meta name="description" content="An application that connects refugees to vital institutions, services and people.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="../lib/toastr.min.css" rel="stylesheet" type="text/css">
        <link href="app.css" rel="stylesheet" type="text/css">
    </head>
    <body ng-app="app" ng-controller="AppController as app" class="app">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <header>
            <h1><a href="index.html">Refugee Connect</a></h1>

            <nav>
                <a class="header__link" href="index.html">Home</a>
                <a class="header__link" href="nearme.html">Near Me</a>
                <a class="header__link" href="addcard.html">+ Add Cards</a>
                <a class="header__link header__link--active" href="createaccount.html">Create Account</a>
            </nav>
        </header>

        <ul class="progress notbuilt">
            <li class="progress__step">Enter your details</li>
            <li class="progress__step progress__step--active">Choose your interests<span class="a11y-context"> (selected item)</span></li>
            <li class="progress__step">Done</li>
        </ul>

        <div class="createaccount__interests">
            <h2 class="createaccount__sectiontitle">1. Find and add your interests</h2>

            <input type="text" class="textbox createaccount__interests__filter" ng-model="createAccount.searchTerm" placeholder="Enter filter keywords" />

            <div class="pane createaccount__interests__pane">

                <div class="card home__card card__legal" ng-show="'legal'.indexOf(createAccount.searchTerm) > -1">
                    <div class="card__heading">
                        <h2 class="card__title">Legal</h2>
                        <button class="button button__secondary card__add" ng-class="{'card__add--added':createAccount.legalAdded}" ng-click="createAccount.addCard('legal')">{{createAccount.legalAdded ? '✔ Added' : '+ Add'}}</button>
                    </div>
                    <div class="card__info">
                        Need help defending your refugee claim
                        in court? It is important to properly
                        understand Australian law. Free legal
                        counselling may be available in your area.
                    </div>
                    <div class="card__body">
                        <a class="carditem" ng-href="resourceprofile_RedCross.html">
                            <img class="carditem__logo" ng-src="../images/rcCardItem__RedCross.png" alt="Red Cross Logo">
                            <div class="carditem__body">
                                <span class="carditem__heading">
                                    <h3 class="carditem__title">Red Cross</h3>
                                </span>
                                
                                <span class="starrating carditem__starrating">
                                    <b ng-repeat="i in [1,2,3,4,5]" ng-class="{'starrating__star--filled': i < 4}" class="starrating__star">*</b>
                                </span>

                                <span class="distance carditem__distance">
                                    <label class="a11y-context">Distance:</label> 
                                    5km
                                </span>

                                <span class="comments carditem__comments a" href="#">
                                    5 comments
                                </span>
                            </div>
                        </a>
                        <a class="carditem" ng-href="profile_RefugeeAid.html">
                            <img class="carditem__logo" ng-src="../images/rcCardItem__RefugeeAid.png" alt="Refugee Aid Logo">
                            <div class="carditem__body">
                                <span class="carditem__heading">
                                    <h3 class="carditem__title">Refugee Aid</h3>
                                </span>
                                
                                <span class="starrating carditem__starrating">
                                    <b ng-repeat="i in [1,2,3,4,5]" ng-class="{'starrating__star--filled': i < 4}" class="starrating__star">*</b>
                                </span>

                                <span class="distance carditem__distance">
                                    <label class="a11y-context">Distance:</label> 
                                    3km
                                </span>

                                <span class="comments carditem__comments a" href="#">
                                    2 comments
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="card home__card card__health" ng-show="'health'.indexOf(createAccount.searchTerm) > -1">
                    <div class="card__heading">
                        <h2 class="card__title">Health</h2>
                        <button class="button button__secondary card__add" ng-class="{'card__add--added':createAccount.healthAdded}" ng-click="createAccount.addCard('health')">{{createAccount.healthAdded ? '✔ Added' : '+ Add'}}</button>
                    </div>
                    <div class="card__info">
                        Do you suffer from a medical condition or wish to prevent one from happening. Emergency and
                        ongoing health resources are available to help you to improve your health or manage existing
                        conditions.
                    </div>
                    <div class="card__body">
                        <a class="carditem" ng-href="resourceprofile_RedCross.html">
                            <img class="carditem__logo" ng-src="../images/rcCardItem__RedCross.png" alt="Red Cross Logo">
                            <div class="carditem__body">
                                <span class="carditem__heading">
                                    <h3 class="carditem__title">Red Cross</h3>
                                    <span class="carditem__location">Redfern</span>
                                </span>
                                
                                <span class="starrating carditem__starrating">
                                    <b ng-repeat="i in [1,2,3,4,5]" ng-class="{'starrating__star--filled': i < 4}" class="starrating__star">*</b>
                                </span>

                                <span class="distance carditem__distance">
                                    <label class="a11y-context">Distance:</label> 
                                    5km
                                </span>

                                <span class="comments carditem__comments a" href="#">
                                    5 comments
                                </span>
                            </div>
                        </a>
                        <a class="carditem" ng-href="profile_RefugeeAid.html">
                            <img class="carditem__logo" ng-src="../images/rcCardItem__RefugeeAid.png" alt="Refugee Aid Logo">
                            <div class="carditem__body">
                                <span class="carditem__heading">
                                    <h3 class="carditem__title">Refugee Aid</h3>
                                    <span class="carditem__location">King St, Sydney</span>
                                </span>
                                
                                <span class="starrating carditem__starrating">
                                    <b ng-repeat="i in [1,2,3,4,5]" ng-class="{'starrating__star--filled': i < 4}" class="starrating__star">*</b>
                                </span>

                                <span class="distance carditem__distance">
                                    <label class="a11y-context">Distance:</label> 
                                    3km
                                </span>

                                <span class="comments carditem__comments a" href="#">
                                    2 comments
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="card home__card card__religion" ng-show="'religion'.indexOf(createAccount.searchTerm) > -1">
                    <div class="card__heading">
                        <h2 class="card__title">Religion</h2>
                        <button class="button button__secondary card__add" ng-class="{'card__add--added':createAccount.religionAdded}" ng-click="createAccount.addCard('religion')">{{createAccount.religionAdded ? '✔ Added' : '+ Add'}}</button>
                    </div>
                    <div class="card__info">
                        Connect to religious communities and institutions of relevance to your belief/faith.
                    </div>
                    <div class="card__body">
                        <a class="carditem" ng-href="resourceprofile_PittStreet.html">
                            <img class="carditem__logo" ng-src="../images/rcCardItem__PittStUnitingChurch.jpg" alt="Pitt Street Uniting Church Logo">
                            <div class="carditem__body">
                                <span class="carditem__heading">
                                    <h3 class="carditem__title">Uniting Church</h3>
                                    <span class="carditem__location">Pitt Street, Sydney</span>
                                </span>
                                
                                <span class="starrating carditem__starrating">
                                    <b ng-repeat="i in [1,2,3,4,5]" ng-class="{'starrating__star--filled': i < 4}" class="starrating__star">*</b>
                                </span>

                                <span class="distance carditem__distance">
                                    <label class="a11y-context">Distance:</label> 
                                    5km
                                </span>

                                <span class="comments carditem__comments a" href="#">
                                    5 comments
                                </span>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="createaccount__sorting">
            <h2 class="createaccount__sectiontitle">2. Choose your sorting</h2>

            <label class="createaccount__sorting__toggle"><input type="radio" name="sorting" value="location" />By Location</label>

            <label class="createaccount__sorting__toggle"><input type="radio" name="sorting" value="rating" />By Rating</label>

            <label class="createaccount__sorting__toggle"><input type="radio" name="sorting" value="relevance" />By Relevance</label>
        </div>

        <div class="createaccount__done">
            <h2 class="createaccount__sectiontitle">3. And you're done!</h2>

            <p>Click the Done button to save your choices.</p>

            <a ng-href="index.html#addedCards={{createAccount.addedCards.join(',')}}" class="button">Done</a>
        </div>

        <footer class="notbuilt">
            Copyright © 2016, RefugeeConnect. 
            <a class="a footer__a" href="#">Terms of Use</a> 
            <a class="a footer__a" href="#">Privacy Policy</a> 
            <a class="a footer__a" href="#">Contact Us</a>
        </footer>

        <script src="../lib/jquery-1.12.4.min.js"></script>
        <script src="../lib/angular.min.js"></script>
        <script src="../lib/lodash.min.js"></script>
        <script src="../lib/toastr.min.js"></script>
        <script src="app.js"></script>
    </body>
</html>